.container {
    padding: 18px 135px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: #fff;

    z-index: 1000;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 750px;

    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 12px;

    a {
        text-decoration: none;
        color: rgba($color: #000000, $alpha: 0.5);

        &.active {
            text-decoration: underline;
            color: rgba($color: #000000, $alpha: 1);
        }
    }
}

.utilsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.cityContainer {
    display: flex;
    gap: 5px;
    align-items: center;

    img {
        opacity: 0.5;
    }

    div {
        opacity: 0.5;
    }
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    button {
        border: 1px #00d36d solid;
        background: #fff;

        cursor: pointer;
        border-radius: 8px;
        padding: 10px 20px;
        color: #00d36d;

        &:hover {
            background: #00d36d;
            color: #fff;
            transition: all 0.15s linear;
        }
    }
}

.searchInner {
    display: flex;
    align-items: center;
    img {
        cursor: pointer;
    }

    .search {
        width: 0;
        border: 0;
        outline: 0;
    }

    .searchActive {
        width: 200px;
        border: 0;
        outline: 0;
        border-bottom: rgba($color: #000000, $alpha: 0.5) 1px solid;

        padding: 5px;

        &::placeholder {
            color: rgba($color: #000000, $alpha: 0.5);
            font-size: 14px;
        }
    }
}

.burger {
    display: none;

    width: 20px;
    height: 2px;
    background: rgba($color: #000000, $alpha: 0.5);
    border-radius: 5px;

    position: relative;

    cursor: pointer;
    &::after {
        content: "";

        position: absolute;
        width: 20px;
        height: 2px;
        background: rgba($color: #000000, $alpha: 0.5);
        border-radius: 5px;
        bottom: -4px;
        left: 0;
    }

    &::before {
        content: "";

        position: absolute;
        width: 20px;
        height: 2px;
        background: rgba($color: #000000, $alpha: 0.5);
        border-radius: 5px;
        top: -4px;
        left: 0;
    }
}

@media (max-width: 1300px) {
    .nav {
        display: none;
        top: 120%;
        transform: translate(-50%, 0);

        left: 50%;
        background: #fff;
        width: 100%;
        padding: 10px 30px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 717px) {
    .container {
        padding: 18px 50px;
    }

    .headerInner {
        >img {

            width: 100px;
            height: auto;
        }
    }
    .searchInner {
        .searchActive {
            width: 100px;
        }
    }
}

@media (max-width: 540px) {
    .container {
        padding: 18px 10px;
    }
}

@media (max-width: 400px) {

    .searchInner {
        display: none;
    }
}